name: Build Test and lint
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci # Hay que corrar esto para los siguientes pasos
      - run: npm run test:coverage
      - run: npm run lint
